<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/x-icon' href='favicon-main.svg' />
    <title>SafeRX | Healthcare with AI</title>
    <meta
      name='description'
      content='Significantly reduce prescription errors with the power of AI and large language models.'
    />
  </head>
  <body>
    <p>aobut</p>
  </body>